<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Real estate 360 Uganda</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Real estate 360" name="keywords">
    <meta content="Buying land in Uganda made easier and affordable" name="description">

    <!-- Favicon -->
    <link href="public/img/fm360.jpg" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="public/lib/animate/animate.min.css" rel="stylesheet">
    <link href="public/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="public/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar Start -->
        <div class="container-fluid nav-bar bg-transparent">
            <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
                <a href="/" class="navbar-brand d-flex align-items-center text-center">
                    <div class="icon p-2 me-2">
                        <img class="img-fluid" src="public/img/fm360.jpg" alt="Icon" style="width: 30px; height: 30px;">
                    </div>
                    <h1 class="m-0 text-primary">Real Estate 360</h1>
                </a>

                <a href="#">
                    <i class="fab fa-call"></i>
                </a>

                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a href="/" class="nav-item nav-link">Home</a>
                        <a href="#" class="nav-item nav-link">About</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Property</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="#" class="dropdown-item">Property List</a>
                                <a href="#" class="dropdown-item">Property Type</a>
                                <a href="#" class="dropdown-item">Property Agent</a>
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        </div>
                        <a href="#" class="nav-item nav-link active">Blog Post</a>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Navbar End -->


        <!-- Header Start -->
        <div class="container-fluid header bg-white p-0" style="margin-top: 5px;">
            <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
                <div class="col-md-6 p-5 mt-lg-5">
                    <h1 class="display-5 animated fadeIn mb-4">Blog Post</h1> 
                        <nav aria-label="breadcrumb animated fadeIn">
                        <ol class="breadcrumb text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item text-body active" aria-current="page">Blog Post</li>
                        </ol>
                    </nav>
                </div>
                <!-- <div class="col-md-6 animated fadeIn">
                    <img class="img-fluid" src="./public/img/fm360.jpg" alt="" style="width: 100px;">
                </div> -->
            </div>
        </div>
        <!-- Header End -->

        <!--BLOGS Start -->
    <!-- News With Sidebar Start -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <!-- News Detail Start -->
                    <div class="position-relative mb-3">
                        <img class="img-fluid w-100" src="public/img/customary-img.jpg" style="object-fit: cover;">
                        <div class="bg-white border border-top-0 p-4">
                            <div class="mb-3">
                                <a class="text-body" href="">Oct 27, 2023</a>
                            </div>
                            <h1 class="mb-3 text-secondary text-uppercase font-weight-bold">Customary Land in Uganda – Everything you need to Know!</h1>
                            <p>
                                Customary land tenure refers to the system of land ownership and management that is based on traditional cultural practices and customs in a particular community. In Uganda, customary land tenure is the most prevalent form of land ownership outside Buganda, covering more than 85% of the country’s land area.

                                There are different forms in which customary land tenure exists in different parts of Uganda. In some places, the land is held communally, in some it belongs to a particular clan while in others, it is held by individuals.

                                The rules of customary law also vary in different parts of the country. The Land Act 1998 states that customary land tenure shall be governed by rules generally accepted as binding by the particular community, and anyone who acquires land in that community shall also be bound by the same rules.
                            </p>

                            <h5>
                                Advantages of Customary Land Tenure in Uganda:
                            </h5>
                            <p>
                            <ol>
                                <li>Social security: Customary land tenure provides social security to communities, as it gives individuals and families a sense of belonging and stability. This helps to ensure that people have access to the resources they need to survive and thrive, such as land for agriculture and housing.</li>
                                
                                <li>Flexibility: The customary land tenure system is highly flexible, allowing individuals to easily access land for different purposes, such as agriculture, forestry, and housing. It also allows for the transfer of land ownership through inheritance or sale, which can be done quickly and efficiently.</li>
                                
                                <li>Inclusiveness: Customary land tenure is an inclusive system, as it allows for the participation of both men and women in land-related decisions. This promotes gender equality and helps to ensure that both men and women have access to the resources they need to live productive lives.</li>
                                
                                <li>Sustainability: The customary land tenure system is also sustainable, as it is based on the principles of intergenerational equity and the responsible use of resources. This helps to ensure that the land is managed in a way that benefits future generations, while also protecting the environment.</li>
                            </ol>
                            </p>
                            
                            <h5>Disadvantages of Customary Land Tenure in Uganda:</h5>
                            <p>
                                <ol>
                                <li>Lack of formal recognition: Despite its prevalence, customary land tenure is often not formally recognized by the government, which can lead to difficulties in accessing land-related services and benefits. This can also lead to disputes over land ownership and usage, as there is no clear and official record of land ownership.</li>
                                
                                <li>Insecurity of tenure: Customary land tenure is often based on informal agreements and unwritten rules, which can make it difficult to enforce land rights. This can result in land grabbing and the displacement of communities, as well as making it difficult for individuals and communities to access land-related services and benefits.</li>
                                
                                <li>Limited access to credit: The informal nature of customary land tenure can also limit access to credit, as individuals and communities may not have the documentation required to secure loans. This can make it difficult for communities to invest in agriculture, forestry, and other land-related activities.</li>
                            </ol>
                                Obtaining a private certificate of title is possible for individuals, whereby they have to agree with the community that owns the land (the clan or tribal chiefs), then the Sub-county and government land boards take up the process of issuing the title.
                            </p>
                            
                            <h5>
                                To convert customary land to freehold in Uganda, you’ll need to take the following steps:
                            </h5>
                            <p>
                                <ol>
                                <li>Obtain a certificate of occupancy from the Commissioner of Lands, which is a government-issued document that confirms ownership of the land.</li>
                                <li>Get the land surveyed and have a plan prepared by a registered surveyor.</li>
                                <li>File an application for leasehold conversion to the Ministry of Lands, Housing, and Urban Development.</li>
                                <li>Pay the conversion fee, which is calculated based on the size and location of the land.</li>
                                <li>Wait for the conversion to be approved, which usually takes several months.</li>
                                <li>Obtain a leasehold certificate of title, which serves as proof of ownership for the converted land.</li>
                                </ol>
                            </p>

                            <p>
                                <strong>Note:</strong> These steps may vary and it is best to seek the assistance of a legal professional to ensure a smooth conversion process.

                                In conclusion, the customary land tenure system in Uganda has both advantages and disadvantages. On one hand, it provides social security, flexibility, inclusiveness, and sustainability, while on the other hand, it also faces challenges such as lack of formal recognition, insecurity of tenure, limited access to credit, and lack of transparency. To address these challenges, it is important for the government to formally recognize customary land tenure and provide the necessary support and services to communities, such as access to credit and dispute resolution mechanisms. This will help to ensure that the benefits of customary land tenure are enjoyed by all, while also ensuring that land resources are managed responsibly and sustainably.

                                At Real Estate 360, we only sell private mailo land.  If you have any land-related questions, talk to us: +256 765 220 922 or +256 752 072 456
                            </p>
                        </div>
                    </div>
                    <!-- News Detail End -->

                    <!-- Comment Form Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Leave a comment</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-4">
                            <form>
                                <div class="form-row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="name">Name *</label>
                                            <input type="text" class="form-control" id="name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="email">Email *</label>
                                            <input type="email" class="form-control" id="email">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="website">Website</label>
                                    <input type="url" class="form-control" id="website">
                                </div>

                                <div class="form-group">
                                    <label for="message">Message *</label>
                                    <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                                </div>
                                <div class="form-group mb-0">
                                    <input type="submit" value="Leave a comment"
                                        class="btn btn-primary font-weight-semi-bold py-2 px-3">
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Comment Form End -->
                </div>

                <div class="col-lg-4">
                    <!-- Social Follow Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Follow Us</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-3">
                            <a href="https://www.facebook.com/Realestate360ug" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
                                <i class="fab fa-facebook-f text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">2,4000 Fans</span>
                            </a>
                            <a href="https://x.com/RealEstate360UG?s=20" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
                                <i class="fab fa-twitter text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">2800 Followers</span>
                            </a>
                            <a href="https://www.linkedin.com/company/real-estate-360-ug/" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                                <i class="fab fa-linkedin-in text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">1345 Followers</span>
                            </a>
                            <a href="https://www.youtube.com/@Realestate360ug" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
                                <i class="fab fa-youtube text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">1,380 Subscribers</span>
                            </a>
                        </div>
                    </div>
                    <!-- Social Follow End -->

                    <!-- Ads Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Most Viewed</h4>
                        </div>
                        <div class="bg-white text-center border border-top-0 p-3">
                            <a href=""><img class="img-fluid" src="public/img/re360-04.jpg" alt=""></a>
                        </div>
                    </div>
                    <!-- Ads End -->

                    <!-- Popular News Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Recent Post</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-3">
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid" src="public/img/customary-img.jpg" style="width: 110px; height: 110px;" alt="">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="text-body" href=""><small>Oct 28, 2023</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="">Customary Land in Uganda – Everything you need to Know!...</a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid" src="public/img/customary-img.jpg" style="width: 110px; height: 110px;" alt="">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="text-body" href=""><small>Oct 28, 2023</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="">Customary Land in Uganda – Everything you need to Know!...</a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid" src="public/img/customary-img.jpg" style="width: 110px; height: 110px;" alt="">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="text-body" href=""><small>Oct 28, 2023</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="">Customary Land in Uganda – Everything you need to Know!...</a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid" src="public/img/customary-img.jpg" style="width: 110px; height: 110px;" alt="">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="text-body" href=""><small>Oct 28, 2023</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="">Customary Land in Uganda – Everything you need to Know!...</a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid" src="public/img/customary-img.jpg" style="width: 110px; height: 110px;" alt="">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="text-body" href=""><small>Oct 28, 2023</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="">Customary Land in Uganda – Everything you need to Know!...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Popular News End -->

                    <!-- Newsletter Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Newsletter</h4>
                        </div>
                        <div class="bg-white text-center border border-top-0 p-3">
                            <p>Discover the keys to your dream home in the realm of endless possibilities.</p>
                            <div class="input-group mb-2" style="width: 100%;">
                                <input type="text" class="form-control form-control-lg" placeholder="Your Email">
                                <div class="input-group-append">
                                    <button class="btn btn-primary font-weight-bold px-3">Sign Up</button>
                                </div>
                            </div>
                            <!-- <small>Lorem ipsum dolor sit amet elit</small> -->
                        </div>
                    </div>
                    <!-- Newsletter End -->
                </div>
            </div>
        </div>
    </div>
    <!-- News With Sidebar End -->
        <!--BLOGS End -->


        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <h5 class="text-white mb-4">Get In Touch</h5>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Kampala,  Uganda</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+256 777 777 777</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@realestate360.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h5 class="text-white mb-4">Quick Links</h5>
                        <a class="btn btn-link text-white-50" href="#About">About Us</a>
                        <a class="btn btn-link text-white-50" href="#PropertyAgent">Contact Us</a>
                        <a class="btn btn-link text-white-50" href="#">Our Services</a>
                        <a class="btn btn-link text-white-50" href="#">Privacy Policy</a>
                        <a class="btn btn-link text-white-50" href="#">Terms & Condition</a>
                    </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">Real Estate 360</a>, All Right Reserved. 
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="">Home</a>
                                <a href="">Cookies</a>
                                <a href="">Help</a>
                                <a href="">FQAs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="public/lib/wow/wow.min.js"></script>
    <script src="public/lib/easing/easing.min.js"></script>
    <script src="public/lib/waypoints/waypoints.min.js"></script>
    <script src="public/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="public/js/main.js"></script>
</body>

</html>