<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product Card/Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  </head>
  <body>
    
<div class = "card-wrapper property-main">
    <div class = "card">
      <!-- card left -->
      <div class = "product-imgs">
        <div class = "img-display">
          <div class = "img-showcase current-img">

            <div id="card">
              <div class="card-image">
                <div class="block pulsate">
                </div>
                <svg class="fpo " width="84px" height="63px" x="50%" y="50%" viewBox="0 0 84 63" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                    <title>Shape</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-964.000000, -1012.000000)" fill-opacity="0.06">
                        <g id="16---Workpaper-Loading-Copy" transform="translate(836.000000, 909.000000)" fill="#000000">
                            <g id="Icons-/-Special-/-RTE-/-Image" transform="translate(100.000000, 67.000000)">
                                <g id="Icons-/-RTE-/-ImageSpecial">
                                    <path d="M108.368088,36.5625 L30.8485565,36.5625 C29.319526,36.5625 28.0800018,37.8216991 28.0800018,39.375 L28.0800018,95.625 C28.0800018,97.1783009 29.319526,98.4375 30.8485565,98.4375 L108.368088,98.4375 C109.897118,98.4375 111.136642,97.1783009 111.136642,95.625 L111.136642,39.375 C111.136642,37.8216991 109.897118,36.5625 108.368088,36.5625 L108.368088,36.5625 Z M105.599533,42.1875 L105.599533,81.225 L96.7678436,68.68125 C96.2965986,68.0076728 95.5575991,67.5787153 94.747102,67.5082962 C93.936605,67.4378771 93.1366348,67.7331229 92.5596405,68.315625 L82.0668182,79.003125 L59.1154999,55.6875 C58.0356599,54.5970274 56.2916778,54.5970274 55.2118378,55.6875 L33.6171112,77.596875 L33.6171112,42.1875 L105.599533,42.1875 L105.599533,42.1875 Z M33.6171112,92.8125 L33.6171112,85.528125 L57.149826,61.621875 L80.1011444,84.9375 C81.1809844,86.0279726 82.9249665,86.0279726 84.0048065,84.9375 L94.1654022,74.64375 L105.599533,90.9 L105.599533,92.8125 L33.6171112,92.8125 L33.6171112,92.8125 Z M77.9139862,56.25 C77.9139862,53.1433983 80.3930345,50.625 83.4510956,50.625 C86.5091566,50.625 88.988205,53.1433983 88.988205,56.25 C88.988205,59.3566017 86.5091566,61.875 83.4510956,61.875 C80.3930345,61.875 77.9139862,59.3566017 77.9139862,56.25 L77.9139862,56.25 Z" id="Shape"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
              </div>
              <div class="card-content">
                <div class="block2 pulsate">
                </div>
                <div class="block3 pulsate">
                </div>
                <div class="circle pulsate">
                </div>
                <div style="clear: both;"></div>
              </div>
            </div>

          </div>
        </div>
        <div class = "img-select">

        </div>
      </div>
      <!-- card right -->
      <div class = "product-content">
        <!-- <h5 class = "product-title">nike shoes</h5> -->
        <p class = "product-link sale-rent">FOR RENT</p>
        <div class = "product-price">
          <!-- <p class = "new-price">Price: <span>$249.00</span></p> -->
        </div>

        <div class = "product-detail">
          <h2>about this Property: </h2>
          <div class="p-4 pb-0">
            <h5 class="text-primary mb-3 price-element"> </h5>
            <h4 class="d-block h5 mb-2 text-primary property-name"> </h4>
            <p><i class="fa fa-map-marker-alt text-primary me-2"></i> <span class="district"></span> </p>
            <p class="me-2"> <i class="text-primary fa fa-ruler-combined me-2 "></i><span class="property-size"> </span></p>
        </div>
          <p class="property-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eveniet veniam tempora fuga tenetur placeat sapiente architecto illum soluta consequuntur, aspernatur quidem at sequi ipsa!</p>
          <!-- <ul>
          </ul> -->
        </div>

        <div class = "purchase-info">
          <a class = "btn purchase-btn">
            Purchase Now
          </a>
          <a  class="share-btn">Share 
            <svg xmlns="http://www.w3.org/2000/svg" height="0.8em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#09d852}</style><path d="M352 224c53 0 96-43 96-96s-43-96-96-96s-96 43-96 96c0 4 .2 8 .7 11.9l-94.1 47C145.4 170.2 121.9 160 96 160c-53 0-96 43-96 96s43 96 96 96c25.9 0 49.4-10.2 66.6-26.9l94.1 47c-.5 3.9-.7 7.8-.7 11.9c0 53 43 96 96 96s96-43 96-96s-43-96-96-96c-25.9 0-49.4 10.2-66.6 26.9l-94.1-47c.5-3.9 .7-7.8 .7-11.9s-.2-8-.7-11.9l94.1-47C302.6 213.8 326.1 224 352 224z"/></svg>
          </a>
        </div>


        <!-- <div class = "social-links">
          <a href = "#">
            <i class = "fab fa-whatsapp"></i>
          </a>
        </div> -->
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/contentful@5.0.1/dist/contentful.browser.min.js"></script>
  <script src="/public/js/product-page.js"></script>
</body>