<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product Card/Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  </head>
  <body>
<div class = "card-wrapper property-main">
    <div class = "card">
      <!-- card left -->
      <div class = "product-imgs">
        <div class = "img-display">
          <div class = "img-showcase">
            <img src = "/public/img/customary-img.jpg" alt = "shoe image">
            <img src = "public/img/customary-img.jpg" alt = "shoe image">
            <img src = "public/img/customary-img.jpg" alt = "shoe image">
            <img src = "public/img/customary-img.jpg" alt = "shoe image">
          </div>
        </div>
        <div class = "img-select">
          <div class = "img-item">
            <a href = "#" data-id = "1">
              <img src = "/public/img/customary-img.jpg" alt = "shoe image">
            </a>
          </div>
          <div class = "img-item">
            <a href = "#" data-id = "2">
              <img src = "/public/img/customary-img.jpg" alt = "shoe image">
            </a>
          </div>
          <div class = "img-item">
            <a href = "#" data-id = "3">
              <img src = "/public/img/customary-img.jpg" alt = "shoe image">
            </a>
          </div>
          <div class = "img-item">
            <a href = "#" data-id = "4">
              <img src = "/public/img/customary-img.jpg" alt = "shoe image">
            </a>
          </div>
        </div>
      </div>
      <!-- card right -->
      <div class = "product-content">
        <!-- <h5 class = "product-title">nike shoes</h5> -->
        <p class = "product-link">FOR RENT</p>
        <div class = "product-price">
          <!-- <p class = "new-price">Price: <span>$249.00</span></p> -->
        </div>

        <div class = "product-detail">
          <h2>about this Property: </h2>
          <div class="p-4 pb-0">
            <h5 class="text-primary mb-3">UGX 200M</h5>
            <p class="d-block h5 mb-2 text-primary">House for Rent in Kampala</p>
            <p><i class="fa fa-map-marker-alt text-primary me-2"></i> Kampala</p>
            <p class="me-2"> <i class="text-primary fa fa-ruler-combined me-2"></i><span> ${propertSize}</span></p>
        </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eveniet veniam tempora fuga tenetur placeat sapiente architecto illum soluta consequuntur, aspernatur quidem at sequi ipsa!</p>
          <ul>
          </ul>
        </div>

        <div class = "purchase-info">
          <a class = "btn">
            Purchase Now
          </a>
        </div>

        <div class = "social-links">
          <p>Share At: </p>
          <a href = "#">
            <i class = "fab fa-facebook-f"></i>
          </a>
          <a href = "#">
            <i class = "fab fa-twitter"></i>
          </a>
          <a href = "#">
            <i class = "fab fa-instagram"></i>
          </a>
          <a href = "#">
            <i class = "fab fa-whatsapp"></i>
          </a>
          <a href = "#">
            <i class = "fab fa-pinterest"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/contentful@5.0.1/dist/contentful.browser.min.js"></script>
  <script src="/public/js/product-page.js"></script>
</body>